body {
    background-image: url('images/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}


.titleStyle {
    font-family: 'Your Beautiful Font', sans-serif;
    font-size: 5em;
    color: white;
    font-style: inherit;
    padding: 10px;
    width: 100%;
    animation: fadeInUp 1s ease-out;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.CurrentLocationTittleStyle{
    color: white;
    font-size: 1.5em;
    margin: 0;
}

.CurrentTemperatureStyle{
    color: white;
    font-size: 2.5em;
    margin: 0;
}

.enterCityAnimationStyle{



}
